# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/666/
/broadcast/*/150/
/broadcast/*/9000/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
.env.*
